<div class="col-lg-12">
	<h1>Archive 2016</h1>

	<a href="#">{{name}}</a>


	<div ng-repeat="month in months" class="col-md-4">

		<month custom-month="month" filter-year="year" filter-month:"filterMonth"></month> 

		<!-- <a href="#/archive/{{invoice.monthFilter}}">{{invoice.monthFilter}}</a> -->
		<!-- <archivework custom-invoice-data="invoice"></archivework> -->
		<br><br>
	</div>

                        <!-- <div ng-repeat="invoice in invoices" class="col-md-4">
                        
                        	<archivework custom-invoice-data="invoice"></archivework>
<br><br>
</div> -->

<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
</div>