<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Task Details</div>


  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>Task name:</strong> {{customInvoiceData.taskName}}</li>
    <li class="list-group-item"><strong>Task Description:</strong> {{customInvoiceData.taskDescription}}</li>
    <li class="list-group-item"><strong>Platform:</strong> {{customInvoiceData.platform}}</li>
    <li class="list-group-item"><strong>Client name:</strong> {{customInvoiceData.clientName}}</li>
    <li class="list-group-item"><strong>URL:</strong> {{customInvoiceData.url}}</li>
    <li class="list-group-item"><strong>Work Done:</strong> {{customInvoiceData.workDone}}</li>
    <li class="list-group-item"><strong>Hours:</strong> {{customInvoiceData.hours}}</li>
    <li ng-show="{{ if (customInvoiceData.assignedBy)}}"class="list-group-item"><strong>Assigned by:</strong>  {{customInvoiceData.assignedBy}}</li>
    <li class="list-group-item"><strong>Date Assigned:</strong> {{customInvoiceData.dateAssigned| date:dateFormat}}</li>
    <li ng-show="{{ if (customInvoiceData.comments)}}" class="list-group-item"><strong>Comments:</strong> {{customInvoiceData.comments}}</li>

  </ul>

  <div class="panel-footer"><strong>Date Completed:</strong> {{customInvoiceData.dateCompleted| date:dateFormat}}</div>
</div>

